/* background-color: var(--dark-blue); for button
    background-color: #ecf3f6; for background
*/
.main-info{
    margin-top: 200px;
    background-color: #ecf3f6;
}

.sub-info-container{
    padding-left: 10%;
    padding-right: 10%;
    /* border: 1px solid blue; */
    display: flex;
    /* background-color: white; */
    flex-grow: 1;
    flex-basis: 20%;
}


.policy {
    background-color: red;
    border: 1px solid blue;

    /* border: 1px solid blue; */
}